* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #061b33;
}

.header {
  display: flex;
  background-color: #061b33;
  color: #fff;
  justify-content: space-around;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

.name {
  font-size: 12px;
  line-height: 28px;
}

.menu {
  display: inline;
  padding: 5px;
  font-size: 13px;
}

.menu>li a {
  padding: 10px;
}

.bottom-header {
  display: flex;
  background-color: #c45238;
}

.list > ul {
  display: flex;
  justify-content: flex-start;
  color: rgb(194, 192, 189);
}

.list > ul li {
  position: relative;
  max-width: 400px;
  font-family: "Open Sans", sans-serif;
}


.list > ul li > a {
  padding: 15px 10px 15px 40px;
  text-decoration: none;
  color: #fff;
  margin: 10px;
}

.previous {
  margin-right: 10px;
}

.last {
  margin-right: 10px;
}

.list a:hover {
  color: white;
  font-size: 17px;
}

.list li ul {
  display: none;
}

.list li:hover > ul {
  display: block;
}

.sub-menu > li {
  position: absolute;
  padding: 10px;
  left: -30px;
}
.sub-menu {
  margin-top: 20px;
  border: 1px solid #c45238;
  background-color: #4a4444;
  max-width: 200px;
  border-radius: 3px;
}

.sub-menu li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.sub-menu li:hover {
  border: 1px solid rgb(190, 80, 6);
  border-radius: 15px;
  background-color: rgb(190, 80, 6);
}

.contacts > ul {
  display: flex;
  color: #fff;
}

.contacts > ul li > a {
  text-decoration: none;
  color: #fff;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
}

.contacts a:hover {
  color: white;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}
.slider-item {
  color: #fff;
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.slick-list {
  overflow: hidden;
}

.slider {
  position: relative;
  padding: 0 60px;
}

.slider:focus {
  outline: none;
}

.slider-item:focus {
  outline: none;
}

.slider button:focus {
  outline: none;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 50px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background-image: url("./images/leftarrow.svg");
  margin-left: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  border: none;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background-image: url("./images/leftarrow.svg");
  margin-right: 10px;
  transform: rotate(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  border: none;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #3460a3;
  border-radius: 50%;
  border: none;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #3460a3;
}

.slider-item > input {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  text-transform: uppercase;
}

.parser {
  display: flex;
  color: #061b33;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.parser-txt {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

.parser-txt > h3 {
  padding: 40px;
  font-size: 30px;
}

.parser-txt > p {
  padding: 40px;
}
.parser-txt li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid rgb(190, 80, 6);
  background-color: rgb(190, 80, 6);
  padding: 10px;
  border-radius: 10px;
}

.shops {
  display: inline;
  margin: 10px;
}

.table-info > table {
  border: 1px solid #4a4444;
  color: #fff;
  border-collapse: collapse;
  font-size: 18px;
  line-height: 36px;
}

th {
  padding: 16px;
  border: 1px solid #080707;
}

td {
  border: 1px solid #080707;
}

.colored {
  background-color: #3460a3;
}

.re-colored {
  background-color: #3460a3;
}

.photo-slider {
  position: relative;
  padding: 0 60px;
  
}

.slider-heading {
  margin: 40px;
  display: flex;
  text-align: center;
  flex-direction: column;
  color: #fff;
}

.photo-slider-item {
  display: flex;
  padding: 20px;
}

.photo-slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 50px;
}

.photo-slider .slick-arrow.slick-prev {
  left: 0;
  background-image: url("./images/leftarrow.svg");
  margin-left: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  border: none;
}

.photo-slider .slick-arrow.slick-next {
  right: 0;
  background-image: url("./images/leftarrow.svg");
  margin-right: 10px;
  transform: rotate(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  border: none;
}

.photo-slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.photo-slider:focus {
  outline: none;
}

.photo-slider-item:focus {
  outline: none;
}

.photo-slider button:focus {
  outline: none;
}

.photo-slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #3460a3;
  border-radius: 50%;
  border: none;
}

.photo-slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #3460a3;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;

}

.box-item {
  box-shadow: 60px -16px rgba(2, 39, 88, 0.4);
  background-color: #3460a3;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-transform: uppercase;
  margin: 50px;
  width: 20%;
}

.box-item > input {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 5px;
}

.box-item > input:focus {
  outline: none;
}

.form-background {
  background-color: #3460a3;
}

.data {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 40px 40px 40px 0px;
}

.form-contain {
  box-shadow: 0 5px 10px 0 rgba(5, 5, 5, 0.8);
  background-color: #061b33;
  border: none;
  border-radius: 20px;
  padding: 15px;
  width: 800px;
  margin: 10px;
}

.form-contain:focus {
  outline: none;
}

.button {
  box-shadow: 0 5px 10px 0 rgba(5, 5, 5, 0.8);
  background-color: #061b33;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
}

.button:focus {
  outline: none;
}

.page-ending {
  display: flex;
  background-color: #061b33;
  justify-content: space-around;

}

.footer-info {
  font-size: 20px;
  line-height: 40px;
  color: #fff;
}

.social-media {
  display: flex;
  justify-content: space-around;
  margin-left: -120px;
}

.social-media1 > li a {
  text-decoration: none;
  color: #fff;
}

.social-media1 > li {
  font-size: 20px;
  margin-left: 60px;
}

.icon {
  margin-right: 10px;
}

.social-media2 > li a {
  text-decoration: none;
  color: #fff;
}

.social-media2 > li {
  font-size: 20px;
}

.social-media2 > li a > i.fa {
  padding: 10px;
}

.terms > li a {
  text-decoration: none;
  color: #fff;
}

.terms > li {
  padding: 5px;
}
